<ul class="nav nav-tabs nav-justified">
    <li>
        <% include ../../common/templates/user %>
    </li>

    <li>
        <a href="<%= baseURL %>/">Home</a>
    </li>


    <li>
        <a href="<%= baseURL %>/user/drawings">Mes dessins</a>
    </li>


    <li>
        <a href="<%= baseURL %>/public/logout">Déconnexion</a>
    </li>
</ul>
