<div class="navbar-header">
    <% include ../templates/user-tpl %>
</div>

<ul class="nav nav-tabs nav-justified">
    <li>
        <a class="btn btn-primary" href="<%= baseURL %>/logout">Home</a>
    </li>


    <li>
        <a class="btn btn-primary" href="<%= baseURL %>/todo">Utilisateurs</a>
    </li>

    <li>
        <a class="btn btn-primary" href="<%= baseURL %>/logout">Déconnexion</a>
    </li>
</ul>