<div class="navbar-header">
    <% include ../../common/templates/user %>
</div>

<ul class="nav nav-tabs">
    <li>
        <a class="btn btn-primary" href="<%= baseURL %>/user/index">Home</a>
    </li>

    <li>
        <a class="btn btn-primary" href="<%= baseURL %>/user/drawings">Mes dessins</a>
    </li>

    <li>
        <a class="btn btn-primary" href="<%= baseURL %>/public/logout">Déconnexion</a>
    </li>
</ul>