<ul class="nav nav-tabs nav-justified">
    <li>
        <% include ../templates/user-tpl %>
    </li>

    <li>
        <a href="<%= baseURL %>/logout">Home</a>
    </li>


    <li>
        <a href="<%= baseURL %>/todo">Utilisateurs</a>
    </li>

    <li>
        <a href="<%= baseURL %>/logout">Déconnexion</a>
    </li>
</ul>