<% var basepath = '/user' %>
<div>
    <% include ../../common/templates/alert %>
</div>

<div>
    <h2>Bienvenue sur Pictionary!</h2>
    <ul>
        <li>
            <a class="btn btn-primary" href="<%= baseURL %>/user/drawings">Vos dessins</a>
        </li>
        <li>
            <a class="btn btn-primary" href="<%= baseURL %>/user/profile">Votre profile</a>
        </li>
    </ul>
</div>
