<% var basepath = '/user' %>
<div>
    <% include ../../common/templates/alert %>
</div>

<div>
    <h2 style="text-align:center">Bienvenue sur Pictionary!</h2>


    <div class="card-presenter">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top img-presenter" src="/images/drawingspic.jpg" alt="Drawings picture">
            <div class="card-block">
                <h4 class="card-title">Dessins</h4>
                <p class="card-text">Consulter les dessins que vous avez créé ou créez-en de nouveaux!</p>
                <a class="btn btn-primary" href="<%= baseURL %>/user/drawings">Vos dessins</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top img-presenter" src="/images/profile.jpg" alt="Cog picture">
            <div class="card-block">
                <h4 class="card-title">Profile</h4>
                <p class="card-text">Consulter, modifier ou supprimer votre profil.</p>
                <a class="btn btn-primary" href="<%= baseURL %>/user/profile">Votre profile</a>
            </div>
        </div>
    </div>
</div>
