<% var title = 'Formulaire login' %>
<% include ../partials/head %>


<h1>Login</h1>
Accès à l'<a href="<%= baseURL %>/inscription">inscription</a>

    <% include ../partials/alert %>

<form method="post" action="<%= baseURL %>/login">
    <div>
        <label for='deco'>Utilisateur</label>
        <input type='email' id='user' name='email' />
    </div>

    <div>
        <label for='pass'>Mot de passe</label>
        <input type='password' id='pass' name='password' />
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>

<% include ../partials/foot %>