<% var title = 'Index Utilisateur', basepath = '/api' %>
<% include ../partials/head %>

    <% include ../partials/alert %>

<a href="<%= baseURL %>/api/drawings">Vos dessins</a>
<a href="<%= baseURL %>/api/profile">Votre profile</a>

<% include ../partials/foot %>

