<% include ../../common/templates/alert %>

<div id="login-page">
    <div class="container-fluid panel panel-default">
        <form id="login-form" method="post" action="<%= baseURL %>/public/login">
            <h1>Login</h1>

            <div class="input-group">
                <input type='email' id='user' name='username' class="form-control" placeholder="user@example.com" />
            </div>

            <div class="input-group">
                <input type='password' id='pass' name='password' pattern="[a-zA-Z0-9]{6,8}" class="form-control" placeholder="Mot de passe" />
            </div>
            <div class="input-group">
                <input type="submit" value="Login" class="btn btn-default form-control">
            </div>
            <% if (params && params.facebook) {%> 
            <div class="input-group">
                <a class="form-control btn btn-primary" href="<%= baseURL %>/public/login/facebook">Via Facebook</a>
            </div>
            <% } %>
            <% if (params && params.google) {%> 
            <div class="input-group">
                <a class="form-control btn btn-danger" href="<%= baseURL %>/public/login/google">Via Google</a>
            </div>
            <% } %>
            <div style="text-align: right">
                Accès à l'<a href="<%= baseURL %>/public/inscription">inscription</a>
            </div>
        </form>
    </div>
</div>
