<div>
    <% include ../../common/templates/alert %>
</div>

<h1>Dashboard</h1>
<div>
    <ul>

        <li>
            <a class="btn btn-default" href="<%= baseURL %>/admin/users">Utilisateurs</a>
        </li>
        <li>
            <a class="btn btn-default" href="<%= baseURL %>/admin/users">Paramètres</a>
        </li>
    </ul>
</div>