<% if (query.message) {%>
<% var state = 'danger'; if(query.status && query.status < 400) state = 'success'; %>
<div class="alert alert-<%= state %>" role="alert">
    <em><%= decodeURIComponent(query.message) %></em>
</div>
<% } %>