<div id="usercard"> 
    <div onclick="window.location = '<%= baseURL %>/api/profile'">
        <div>
            <img id="avatar" src="<%= user.profilepic %>"/>
        </div>
        <div>
            <span><%= user.displayName %></span>
        </div>
    </div>
</div>
