<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
        .error {
            color: red
        }
        .success {
            color: green;
        }
    </style>
    <link href="../../stylesheets/style.css" rel="stylesheet"/>
</head>
<body>

    <% if(typeof user === 'object') { %>
        <% include ../partials/usercard %>
    <% } %>
